html{
overflow-y:scroll !important;
}
/*
1. Reset!
*/
.rs_box *{margin:0;padding:0;border:none; }
address,article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;font-style:normal;}audio,canvas,video{display:inline-block;}.ltie9 audio,.ltie9 canvas,.ltie9 video{zoom:1;display:inline}
.rs_box ul,.rs_box li{list-style:none;}
.rs_box table{border-collapse:collapse;border-spacing:0;}
.ltie8 legend{margin:-7px;}

/*
2. Fonts
*/

/*icons*/
.rs_icon,.rs_box i,.rs_car_icon{
    font-family:'rs';
    font-weight:400 !important;
    font-style:normal !important;
    display:inline-block;
}
.rs_car_icon,
.rs_box i.rs_car_icon,
.rs_icon--car,
.rs_box i.rs_icon--car{
    font-family:'rs_car', 'rs';
}
.rs_icon::selection,
.rs_car_icon::selection,
.rs_box i::selection{
    background-color:transparent;
}
.rs_icon::-moz-selection,
.rs_car_icon::-moz-selection,
.rs_box i::-moz-selection{
    background-color:transparent;
}
.rs_icon--phone2:before {
    content: "\e908";
}
/*end icons*/

/*
3. Base styles
*/
.rs_box{
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    /*color:#777777;*/
    -webkit-text-size-adjust: none;
    line-height: normal;
}
.rsR_box{
    position:relative;
    min-height:356px;
    visibility:hidden;
}
.rsR_box.rsR_loaded{
    min-height:0;
    visibility:visible;
}
.rsR720 .rsR_box{
    margin:0 1px;
}
.rs_box a,
.rs_box a:link,
.rs_box a:visited,
.rs_box .rs_a_style{
    color:#337ab7;
    cursor:pointer;
    text-decoration:underline;
}
.rs_box a:hover,
.rs_box a:active,
.rs_box a:focus,
.rs_box .rs_a_style:hover,
.rs_box .rs_a_style:active,
.rs_box .rs_a_style:focus{
    color:#23527c;
    text-decoration:underline;
}
.rs_box h1,
.rs_box h2,
.rs_box h3,
.rs_box h4,
.rs_box h5,
.rs_box h6{
    font-weight:normal;
    line-height:1.2em;
}
.rs_box h1{
    font-size:3.857142857142857em;
}
.rs_box h2{
    font-size:1.714285714285714em;
}
.rs_box h3{
    font-size:1.714285714285714em;
}
.rs_box h4{
    font-size:1.285714285714286em;
}
.rs_box h5{
    font-size:1em;
}
.rs_box h6{
    font-size:0.8571428571428571em;
}
.rs_box b,
.rs_box strong{
    font-weight:bold;
}
.rs_box p{
    margin-bottom:2.143em;
    line-height:1.43em;
}
.rs_box p:last-child{
    margin-bottom:0;
}
.rs_box li{
    line-height:1.28em;
    margin-bottom:0.2em;
}
.rs_box li:last-child{
    margin-bottom:0;
}
.rs_box hr{
    color:#d6d6d6;
    background-color:#d6d6d6;
}
.rs_box .rs_heading_color{
    color:#777777;
}
.rs_box small{
    font-size:0.79em;
}
.rs_greybg #rs_box {
    background-color: #f2f2f2;
}
/*
4. Common UI
*/
/*table behavior*/
.rs_table{
    display:table;
    *display:block;
}
.rs_tr{
display:table-row;
*display:block;
}
.rs_td{
display:table-cell;
*zoom:1;
*display:inline;
}
/*form elements*/
.rs_box input[type="text"],
.rs_box input[type="email"],
.rs_box input[type="number"],
.rs_box input[type="tel"],
.rs_box textarea,
.rs_box select{
border:solid 1px #b9b9b9;
font-size:12px;
padding:0.667em 0.334em;
box-shadow:inset 3px 3px 2px -2px #e0e0e0;
}
.rs_box textarea{
height:auto;
}
.rs_box select{
border-radius:2px;
box-shadow:inset -3px -3px 2px -2px #e0e0e0;
}

.rs_validation_pass input[data-rs_validate],
.rs_validation_pass select[data-rs_validate],
.rs_validation_pass textarea[data-rs_validate],
.rs_validation_fail .rs_validation_pass input[data-rs_validate],
.rs_validation_fail .rs_validation_pass select[data-rs_validate],
.rs_validation_fail .rs_validation_pass textarea[data-rs_validate]{
border-color:green;
}
.rs_validation_fail input[data-rs_validate],
.rs_validation_fail select[data-rs_validate],
.rs_validation_fail textarea[data-rs_validate],
.rs_email_match_fail input[data-rs_validate],
.rs_email_match_fail select[data-rs_validate],
.rs_email_match_fail textarea[data-rs_validate]{
border-color:red;
}
.rs_match_error,
.rs_validation_error_message{
display:none;
font-size:10px;
font-family:Arial,Helvetica,Sans-Serif;
}
.rs_email_match_fail .rs_match_error,
.rs_validation_fail .rs_validation_error_message{
display:block;
}
.rsR720 .rs_validation_error_message{
margin-left:28%;
padding: 1px 9px 0 5px;
}
.rs_cdi_initial .rs_validation_error_message{
margin-left:0;
padding: 1px 0 0;
}
.rs_cdi_validation_header {
position: relative;
top: 53px;
z-index: 1;
}
.rs_cdi_validation_header .rs_validation_error_message{
background: #FFF;
border: 1px solid red;
bottom: 0;
color: #000;
padding: 2px 8px;
position: absolute;
right: 40px;
}
.rs_form_discount .rs_validation_error_message{
margin-left: 34%;
}
.rs_cdi_validation_header.rs_validation_fail .rs_validation_icon_fail{
text-shadow:0 0 1px #FFF;
right: 10px;
top: -43px;
}
.rs_cdi_validation_header.rs_validation_pass .rs_validation_icon_pass{
display:none;
}
i.rs_validation_icon{
position:absolute;
right:0;
top:28px;
font-size:22px;
display:none;
vertical-align: middle;
}
.rsR720 i.rs_validation_icon{
top:7px;
}
.rs_validation_pass .rs_validation_icon_pass{
display:inline;
color:#08b087;
}
.rs_validation_fail .rs_validation_icon_fail,
.rs_email_match_fail .rs_validation_icon_fail{
color:#d81414;
display:inline;
}
.rs_email_match_fail .rs_validation_icon_pass{
display:none !important;
}
.rs_form_line_container{
padding-right:30px;
position:relative;
margin-bottom:1em;
}
.rs_book_label{
display:block;
margin-bottom:7px;
}
.rs_book_label__helper_text{
font-size:0.8em;
}
.rsR720 .rs_book_label{
width:28%;
display:inline-block;
vertical-align: middle;
margin-bottom:0;
}
.rsR720 .rs_book_label .rs_a_style,
.rsR720 .rs_book_label .rs_book_label__helper_text{
display:block;
}
.rs_text_input{
width:100%;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
}
.rsR720 .rs_book_form .rs_text_input{
width:70%;
}
.rs_book_form .rs_cdi_initial .rs_initial_input{
width:50px;
}
.rs_book_form .rs_checkbox{
margin-right:5px;
}
.rs_state_line_sel{
display: none;
}
.rs_checkbox_newsletter{
width:auto;
vertical-align: middle;
}
.rs_book_label_newsletter{
width:91%;
display: inline-block;
vertical-align: middle;
}
.rs_book_form .rs_select_box{
width:123px;
margin-right:7px;
}
.rs_book_form .rs_cc_exp_year{
margin-right: 0;
}
.rs_select_box.rs_select_box_seats{
width:auto;
min-width:62px;
max-width:75px;
margin-right:10px;
float:left;
}
.rs_book_label_seats{
width:70%;
float:left;
}
.rs_book_label_seats strong{
display:block;
margin-bottom:0.3em;
}
.rs_book_button{
width:80%;
padding:10px;
margin:20px auto;
font-size:1.1em;
position: relative;
overflow: visible;
}
.rsR720 .rs_book_button{
width:52%;
}
.rs_book_button .rs_loader_wbg_container{
display: none;
position: absolute;
right: -28px;
top: 12px;
}
.rs_book_button .rs_loader_wbg_container img{
height:17.5px;
width:17.5px;
}
.rs_form_line_sel_one .rs_validation_icon{
position: static;
vertical-align: middle;
}
.rs_form_discount{
margin: 20px 0 0;
}
.rs_form_discount_header{
background-color: #eaeaea;
cursor: pointer;
font-size: 14px;
padding: 2% 2% 2.67%;
}
.rs_form_discount_header .rs_icon{
font-size: 1.2em;
vertical-align: middle;
text-shadow: 0 0 1px #FFF;
}
.rs_form_discount_header:hover{
background-color: #d3d3d3;
}
.rs_form_discount_header:hover .rs_icon{
color:#FFF;
text-shadow: 0 0 1px #000;
}
.rs_form_discount_header:hover .rs_lbl{
text-shadow: 0 0 1px #FFF;
}
.rs_form_discount_fields{
margin: 0;
padding: 4px 37px 4px 0;
}
.rs_form_discount_fields h3{
font-size: 15px;
font-weight: bold;
margin: 0.75em 0 1em;
text-decoration: underline;
text-transform: uppercase;
}
.rs_form_discount_fields label{
width:32%;
display: inline-block;
vertical-align: middle;
}
.rs_book_form .rs_form_discount_fields .rs_form_line_container{
position: static;
padding:0;
}
.rs_book_form .rs_form_discount_fields .rs_text_input{
width:64%;
margin-left:2%;
vertical-align: top;
}
/*clearfix*/
.rs_box .clearfix,
.rs_box .rs_clearfix,
.rs_box .clear{
clear:both;
}
/*this is to go beside icons (should help them line up vertically)*/
.rs_lbl{
vertical-align:middle;
display:inline-block;
*zoom:1;
*display:inline;
}
/*buttons*/
.rs_button,
.rs_box button{
color:#FFF !important;
text-align:center;
background-color: #f48020;
border:solid 1px #f48020;
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
text-decoration:none !important;
outline:none;
cursor:pointer;
display:block;
-o-transition:background 100ms ease-in;
-moz-transition:background 100ms ease-in;
-webkit-transition:background 100ms ease-in;
transition:background 100ms ease-in;
font-weight:600;
}
.rs_button:hover,
.rs_button:active,
.rs_box button:hover,
.rs_box button:active{
background-color: #23527c;
border:solid 1px #23527c;
-o-transition:background 50ms ease-in;
-moz-transition:background 50ms ease-in;
-webkit-transition:background 50ms ease-in;
transition:background 50ms ease-in;
}
.rs_page_button,
.rs_page_button:link{
border:1px solid #d5d5d5;
-moz-border-radius:4px;
-webkit-border-radius:4px;
border-radius:4px;
font-size:15px;
padding:5px;
background:#eaeaea;
cursor:pointer;
display:inline-block;
text-align:center;
-o-transition:all 99ms ease-in;
-moz-transition:all 99ms ease-in;
-webkit-transition:all 99ms ease-in;
transition:all 99ms ease-in;
text-decoration: none !important;
color:#333;
}
.rs_page_button:hover{
background:#ccc;
-o-transition:all 55ms ease-in;
-moz-transition:all 55ms ease-in;
-webkit-transition:all 55ms ease-in;
transition:all 55ms ease-in;
}
.rs_page_button:active,
.rs_page_button_active,
.rs_page_button_active:hover{
background:#999;
color:#FFF;
border:1px solid #909099;
}
.rs_page_button_active{
cursor:auto;
}
.rs_page_button i,
.rs_page_button .rs_icon{
font-size:26px;
vertical-align: middle;
margin:0.07em -0.15em 0;
}
.rs_page_button.rs_page_button_disabled{
background:#fff;
color:#c0c0c0;
cursor:auto;
}
.rs_button_disabled,
.rs_button_disabled:hover,
.rs_button_disabled:active,
.rs_button_disabled:focus{
background-color:#999 !important;
border:solid 1px #999 !important;
cursor:auto !important;
}
/* common colors & styles */
.rs_highlight{
color:#f48020;
}
.rs_warn_red{
color:#b91a1a
}
.rs_list--numbered{
list-style:decimal;
padding-left:2em;
}
.rs_list--numbered li{
list-style:decimal;
line-height: normal;
}
.rs_heading_3{
font-size:24px;
}
.rs_heading_5{
font-size:18px;
}
/* some loading styles */
.rs_loading_container{
position:relative;
min-height:280px;
min-width:280px;
}
.rs_loading{
top:50%;
position:absolute;
left:0;
background-color:#FFF;
background-color:rgba(255,255,255,0.9);
padding:1em 0;
margin:-25px 0 0 0;
width:100%;
text-align:center;
}
.rs_loading img{
height: 21px;
margin-left: 6px;
vertical-align: middle;
width: 21px;
background-color:#FFF;
box-shadow:0 0 8px 1px #FFF;
border-radius:12px;
}
/* end loading styles */
/*
8. Toptions
*/

.rs_toptions{
    padding:12px 0 13px;
    border-bottom:solid 1px #F1F1F1;
    margin-bottom:12px;
    display:block;
    /*overflow: hidden;*/
}
.rs_breadcrumb{
color: #F1F1F1;
border-top: 0 solid #CCC;
line-height: normal;
margin: 0 0 5px;
overflow: hidden;
padding: 2px 1px 6px;
white-space: nowrap;
}
.rsR550 .rs_breadcrumb{
border:0;
padding:0;
float:left;
line-height:1.1em;
margin:0 0 9px;
}
.rs_breadcrumb a,
.rs_breadcrumb a:link,
.rs_breadcrumb a:visited{
vertical-align:middle;
text-decoration:underline;
font-size:12px;
color:#337ab7;
}
.rs_breadcrumb a i{
font-size:1.1667em;
margin-left:2px;
text-decoration:none !important;
color:#337ab7;
}
.rs_breadcrumb a:hover,
.rs_breadcrumb a:active,
.rs_breadcrumb a:hover i,
.rs_breadcrumb a:active i{
color:#23527c;
}

.rs_toptions img,
.rs_box .rs_toptions select{
    vertical-align:middle;
}

.rs_toptions img {
    margin-right: 16px;
    cursor: pointer;
}

.rs_toptions select {
    height: 24px;
    padding: 2px;
    width: 138px;
    margin-left: 2px;
}

.rs_toptions .rs_toptions_right {
    text-align:right;
    display: block;
}

.rs_iframe_on .rs_toptions .rs_toptions_right {
    text-align: left;
}

.rs_inline_to_block{
display:block;
padding-bottom:13px;
margin-bottom:14px;
border-bottom:solid 1px #cdcdcd;
}
.rsR550 .rs_inline_to_block{
display:inline;
margin:0;
border:0;
}
/*
9. Errors
*/

.rs_error {
font-size:16px;
text-align:center;
margin:30px 2%;
}
.rs_error .rs_warn_red{
font-size:1.4375em;
}
.rs_error .rs_warn_red i{
font-size:1.1875em;
vertical-align:middle;
margin-right:0.3125em;
}
.rs_error .rs_warn_red .rs_lbl{
display:inline;
}
.rs_error p{
margin-bottom:1em;
}

/*
10. Responsive Helpers
*/
.rs_720_inline,
.rs_720_block,
.rsR720 .rs_720_hide{
display:none;
}
.rsR720 .rs_720_block{
display:block;
}
.rsR720 .rs_720_inline{
display:inline;
}

/*calendars*/


.rs_cal {
background-color:#fff;
border:1px solid #8b8b8b;
-moz-box-shadow:1px 1px 2px rgba(0,0,0,0.4);
-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.4);
box-shadow:1px 1px 2px rgba(0,0,0,0.4);
z-index:99;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
position:absolute;
background:#fff;
}
.rs_cal .rs_cal_box {
display:block;
}
.rs_cal .rs_calTop{
text-align:center;
background-color:#f48020;
color:#fff;
font-size:16px;
text-shadow:0 1px rgba(0,0,0,0.5);
position:relative;
padding:5px 0;
height:35px;
line-height:35px;
display:block;
}
.ltie8 .rs_cal .rs_calTop{
width:300px;
}
.rs_cal .rs_calTop .rs_cal_previous_month {
position:absolute;
cursor:pointer;
font-size:24px;
padding:10px 10px 10px 0;
left:0;
top:0;
line-height:24px;
display:block;
}
.rs_cal .rs_calTop .rs_cal_next_month {
position:absolute;
cursor:pointer;
font-size:24px;
padding: 10px 0px 10px 10px;
right:0;
line-height:24px;
top:0;
display:block;
}
.ltie8 .rs_cal .rs_calTop .rs_cal_previous_month,
.ltie8 .rs_cal .rs_calTop .rs_cal_next_month{
padding-top:5px;
}
.rs_cal .rs_topRow {
background-color:#e6e6e6;
font-weight:bold;
}
.rs_cal table{
width:300px;
height:300px;
font-size:14px;
}
.rs_cal .rs_topRow td {
background-image:-webkit-linear-gradient(top,#eaeaea,#e5e5e5 60%,#d9d9d9);
background-image:-moz-linear-gradient(top,#eaeaea,#e5e5e5 60%,#d9d9d9);
background-image:-o-linear-gradient(top,#eaeaea,#e5e5e5 60%,#d9d9d9);
background-image:linear-gradient(to bottom,#eaeaea,#e5e5e5 60%,#d9d9d9);
-webkit-box-shadow:inset 1px 1px rgba(255,255,255,0.5);
box-shadow:inset 1px 1px rgba(255,255,255,0.5);
width:14.28571428571429%;
}
.rs_cal td {
text-align:center;
border:1px solid #d7d7d7;
text-shadow:0 1px rgba(0,0,0,0.2);
vertical-align: middle;
}
.rs_cal .rs_cal_day:hover {
background-color:#999999;
color:#fff;
-webkit-box-shadow:inset 2px 2px 2px rgba(0,0,0,0.3);
box-shadow:inset 2px 2px 2px rgba(0,0,0,0.3);
cursor:pointer;
}
.rs_cal .rs_setDate {
background-color:#f48020;
color:#fff;
-webkit-box-shadow:inset 2px 2px 2px rgba(0,0,0,0.3);
box-shadow:inset 2px 2px 2px rgba(0,0,0,0.3);
}
.rs_cal .rs_disabledDate {
color:#9c9c9c;
}
.rs_cal .rs_betweenDate {
background-color:#e6e6e6;
-webkit-box-shadow:inset 2px 2px 2px rgba(0,0,0,0.2);
box-shadow:inset 2px 2px 2px rgba(0,0,0,0.2);
cursor:pointer;
}
.rs_cal .rs_calClose {
text-align:center;
color:#f48020;
font-weight:bold;
height:11.1111111111%;
}
.ltie8 .rs_cal .rs_calClose {
height:auto;
}
.rs_cal .rs_calClose:hover {
background-color:#d6d6d6;
cursor: pointer;
}
.rs_cal .rs_cal_arrow{
position:relative;
right:auto;
left:auto;
}
.ltie8 .rs_cal{
z-index:3;
}
.rs_touch .rs_cal{
left:0;
}
/*autosuggest*/
.rs_suggest{
position:relative;
z-index:20;
display:none;
}
.rs_suggest .rs_suggest_absolute{
width:100%;
top:0;
left:0;
background:#fff;
z-index:6;
zoom:1;
border-top:1px solid #ccc;
}
.rs_suggest .rs_suggest_show{
background:#fff;
text-align: center;
border-right:1px solid #ccc;
border-left:1px solid #ccc;
border-bottom:1px solid #ccc;
}
.rs_suggest .rs_suggest_show a{
display:block;
width:100%;
padding:10px 0;
text-decoration:none;
}
.rsR720 .rs_suggest .rs_suggest_absolute{
width:439px;
position:absolute;
}
.rs_suggest .rs_suggest_active,
.rs_suggest .rs_suggest_show:hover{
background:#f0f0f0;
color:#0a85c1;
}
.rs_box .rs_suggest li{
border-right:1px solid #ccc;
border-left:1px solid #ccc;
border-bottom:1px solid #ccc;
padding:8px;
margin:0;
cursor:pointer;
position:relative;
font-size:14px;
}
.rsR720 .rs_box .rs_suggest li{
font-size:18px;
}
.rs_suggest_left{
width:70%;
text-overflow:ellipsis;
overflow:hidden;
white-space: nowrap;
display:inline-block;
vertical-align: middle;
line-height:normal;
}
.rs_suggest_left i{
margin-right:3px;
}
.ltie9 .rs_ie8_city{
width:70%;
display:inline-block;
text-overflow:ellipsis;
white-space: nowrap;
overflow:hidden;
}
.rs_suggest_right{
width:30%;
text-overflow:ellipsis;
overflow:hidden;
white-space: nowrap;
display:inline-block;
vertical-align: middle;
text-align:right;
line-height:normal;
}
.rs_suggest_subhead{
display:inline-block;
text-align: center;
font-size:12px;
}
.rs_sub_count{
font-size:12px;
display:none;
}
.rsR550 .rs_sub_count{
display:inline-block;
*display:inline;
zoom:1;
}
.rsR550 .rs_suggest_subhead{
font-size:14px;
}
.rs_box .rs_suggest .rs_suggest_air_code{
font-weight:bold;
font-size:14px;
}
.rs_box .rs_suggest .rs_suggest_city_name{
color:#333333;
display:none;
font-size:14px;
}
.rsR720.rs_box .rs_suggest_air .rs_suggest_active .rs_suggest_city_name{
display:block;
}
.rsR720 .rs_suggest_air .rs_suggest_active .rs_suggest_city_name{
margin-left:19px;
font-size:12px;
}
.rs_suggest_heading{
font-weight:bold;
background:#0a85c1;
color:#fff;
padding:8px 13px;
margin:0;
position:relative;
}
.rs_box .rs_searchbox .rs_autosuggest{
width:95%;
width:calc(96% - 2px);
width:-webkit-calc(96% - 2px);
padding:10px 2%;
}
.rsR720 .rs_suggest .icon_location:before{
content:"9";
margin-right:5px;
}
.rsR720 .rs_suggest .icon_airport:before{
content:"2";
margin-right:5px;
}
.rsR720 .rs_suggest .icon_city:before{
content:"J";
margin-right:5px;
}
.rsR720 .rs_suggest .icon_region:before{
content:"9";
margin-right:5px;
}
.ltie8 .rs_suggest_left{
width:69%;
}
.ltie8 .rs_suggest_subhead{
width:50%;
}
.ltie8 .rs_advanced_home{
width:47%;
}
.ltie8 .rs_suggest_left,
.ltie8 .rs_suggest_right,
.ltie8 .home_page .home_column{
*display:inline;
zoom:1;
}
.ltie8 .rs_map_view_on #car_results_list{
height:auto !important;

}
.ltie8 .rs_map_view_on #rs_car_results_list .rs_results_list{
right:-17px;
position:relative;
overflow:hidden !important;
}
.rs_map_view_on #rs_car_results_list{
position:relative;
right:0;
height:900px;
left:-17px;
margin-left:17px;
}
.rs_map_view_on #rs_car_results_list .rs_results_list{
right: -12px;
overflow-x: hidden;
position: relative;
}
.rs_results_list:focus{
outline:0 !important;
}
.nano > .pane{
background:#eee;
position:absolute;
width:10px;
right:0;
top:0;
bottom:0;
visibility:hidden\9;
opacity:.01;
-webkit-transition:.2s;
-moz-transition:.2s;
-o-transition:.2s;
transition:.2s;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
display:block;
}
.rs_list_view_on .slider{
height:0px !important;
}
.nano > .pane > .slider{
background: #999;
position:relative;
margin:0 1px;
border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
}
.nano:hover > .pane, .pane.active, .pane.flashed {
visibility:visible\9; /* Target only IE7 and IE8 with this hack */
opacity:0.99;
}
.lt-ie8 .shunk{
width:100%;
}
.rs_strikeout{
color: #909090;
text-decoration: line-through;
font-size: 0.95em;
}
.rs_taxes_fees_table{
margin:25px auto;
}
.rs_taxes_fees_note{
text-align: center;
}
.rs_security_code_image{
float: right;
margin: 0 0 7px 12px;
max-width: 50%;
}
.rs_summary .rs_approx_amount {
text-align: center;
margin: -1em 0 1em;
}
.rs_summary .rs_approx_breakdown_line{
margin:-5px 0 28px;
}
.rs_summary .rs_approx_breakdown{
display: block;
font-size: 0.75em;
font-weight: normal;
}


.rs_discounted_rates{
background-color: #c5f3c4;
color: #1c7315;
margin: 11px 0;
padding: 5px 9px 8px;
}
.rs_discounted_rates .rs_icon{
vertical-align: middle;
}
.rs_page_button--discounted_rates{
margin: 11px auto 11px 16px;
display:block;
width: 179px;
}
.rsR720 .rs_page_button--discounted_rates{
margin-left: 0;
}
.rs_result__display_price_strikeout,
.rs_result__display_price_nostrike{
color: #888;
font-size: 11px;
font-weight: bold;
text-decoration: line-through;
}
.rs_result__display_price_nostrike{
text-decoration: none;
}
.rs_result_subtotal--main_price_line{
margin-top:-6px;
}
.rs_ios .rs_result_subtotal--main_price_line,
.rs_android .rs_result_subtotal--main_price_line{
margin-top:-4px;
}
.rs_result_subtotal--main_price_line:first-child{
margin-top:0;
}

.rs_breadcrumb .rs_toptions__select{
width: 96px;
}
.rs_vertical_middle,
.rs_icon_label{
vertical-align: middle;
}
.rs_loading__container{
min-height: 280px;
min-width: 280px;
position: relative;
}
.rs_loading__image{
height: 21px;
margin-left: 6px;
vertical-align: middle;
width: 21px;
background-color:#FFF;
box-shadow:0 0 8px 1px #FFF;
border-radius:12px;
}
.rs_alert{
padding: 0.62em;
background-color:#eee;
color:#333;
}
.rs_alert .rs_icon{
vertical-align: middle;
font-size:1.62em;
}
.rs_highlight--green_pastel{
color:#159B7A;
background-color:#d4faef;
}

.rs_results_banner{
    text-align: center;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

.rs_results_banner_span{
    width: 175px;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: center;
    font-weight: bold
}

.rs_book .rs_alert--free_cancel{
font-weight: bold;
margin-bottom: 16px;
display: none;
height: 39px;
line-height: 39px;
padding-top:0;
padding-bottom:0;
white-space: nowrap;
text-overflow:ellipsis;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
position: absolute;
top:0;
right: 0;
left: 0;
}
.rs_book{
position: relative;
padding-top: 49px;
}
.rs_book .rs_alert--free_cancel{
display: block;
}
.rsR720 .rs_book .rs_alert--free_cancel{
position: static;
}
.rsR720 .rs_book {
position: static;
padding-top: 0;
}
.rs_book .rs_alert--free_cancel--under_button{
text-align: center;
color: #159B7A;
position: static;
margin: -0.5em 0 0;
padding: 0;
}
.rs_google_adwords_tracking{
    height: 0;
    overflow: hidden;
}

.rs_new_searchbox__input-icon,
.rs_input_container--m--has_value .rs_input_container--m__label,
.rs_focused .rs_input_container--m__label {
	color: #f48020;
}
.rs_lb_header{
    font-size: 24px;
}
#rs_thecloak{
    position:absolute;
    z-index:999998;
    background:#000;
}
.rs_close_container {
    cursor: pointer;
    vertical-align: top;
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
    position: relative;
    display: inline-block;
    top: -47px;
    transition: background-color 200ms ease-out 0s;
    padding: 6px 7px;
    margin-left: -40px;
    right: -7px;
}
.rs_close_container svg {
    height: 26px;
    width: 26px;
    fill: #fff;
    -webkit-filter: drop-shadow(2px 2px 0 rgba(0, 0, 0, 0.38));
    filter: drop-shadow(2px 2px 0 rgba(0, 0, 0, 0.38));
    display: block;
}
.rs_close_circle,
.rs_close_circle_border,
.rs_close_x {
    position: absolute;
    top: 0;
    left: 0
}
.rs_close_circle,
.rs_close_circle_border {
    display: none
}
.rs_close_x {
    color: #FFF;
    font-size: .25em;
    font-weight: bold;
    line-height: 1.3em;
    text-align: center;
    height: 1.74em;
    width: 1.74em;
    border-radius: 0.87em;
    background-color: #C00;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: solid .15em #FFF;
    box-shadow: 0 .05em .05em 0 rgba(0, 0, 0, 0.7)
}
.rs_close_container:hover .rs_close_circle {
    color: #777
}
.rs_close_container:hover .rs_close_x {
    background-color: #777
}
#rs_thebox_middle{
    vertical-align: middle;
    text-align: center;
}
#rs_thebox_middle:hover .rs_close_container,
.rs_close_container:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
#rs_thebox_middle .rs_close_container:hover {
    background-color: rgba(0, 0, 0, 0.38);
    transition: none;
}
#rs_thebox_content{
    padding: 14px;
    box-shadow: 5px 6px 0 rgba(0,0,0,0.38);
    width: 70%;
    margin: 0;
    overflow: hidden;
    white-space: normal;
    display: inline-block;
    text-align: left;
    cursor: auto;
    -webkit-overflow-scrolling:touch;
}
#rs_thebox_content:hover + .rs_close_container {
    background-color: transparent;
    transition: background-color 200ms ease-out 0s;
}
#rs_thebox_content_padding{
    position: relative;
    overflow: auto;
    line-height: normal;
    box-sizing: border-box;
}
@media (min-width:560px) {
    .rs_close_container{
        right: -48px;
    }
    #rs_thebox_content{
        margin-right: 17px;
    }
}

.rs_page_state__error {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
    color: #666666;
}

.rs_page_state__error-img {
    max-width: 100%;
    margin-bottom: 10px;
}
